body {
    background-color: grey;
}
.header-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
h1 {
    font-size: 50px;
}
.selections {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.selection {
    width: 200px;
    border-radius: 100%;
    padding: 10px;
}
.selection:hover {
    background-color: gainsboro;
}
#scoreContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.red-line {
    border: 1px solid red;
}