body {
    background-color: grey;
}
.selections {
    display: flex;
    justify-content: center;
}
.selection {
    width: 200px;
    border-radius: 100%;
    padding: 10px;
}
.selection:hover {
    background-color: gainsboro;
}